.vscode/
.build/
.webpack/
.firebase/
.cache
.next
.nuxt
.vuepress/
.serverless/
.fusebox/
.dynamodb/
.webpack/
.vite/
.npm/
.eslintcache/

node_modules/
jspm_packages/
build/
dist/
lib/
out/
logs/
lib-cov/
coverage/
typings/

.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
*.lcov
.nyc_output
.lock-wscript
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.*
.secret
.secret.*
.DS_Store
