html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-image: url("../assets/background.jpg");
  background-repeat: repeat;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: cyan;
}
