html,
body {
    height: 100vh;
    margin: 0px;
}

#app {
    height: 100%;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-image: url("@assets/background.jpg");
    // background-repeat: repeat;
}
